<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="en-us">
<title></title>
</head>

<body>

<p><!--webbot bot="PurpleText"
PREVIEW="Answers to Frequently Asked Questions - Add new questions at the end of the Table of Contents list. For each new question, create a new section where the heading contains the text of the question, followed by one or more paragraphs presenting the answer. Make a new bookmark for the heading by selecting the text and choosing the Insert Bookmark menu item. Then turn the new question into a hyperlink to this bookmark by selecting the text and choosing the Insert Hyperlink menu item."
-->
</p>
<hr>
<h2><a name="top">Table of Contents</a></h2>
<ol>
  <li><a href="#how"><strong>How do I ... ?</strong></a></li>
  <li><a href="#where"><strong>Where can I find ... ?</strong></a></li>
  <li><a href="#why"><strong>Why doesn't ... ?</strong></a></li>
  <li><a href="#who"><strong>Who is ... ?</strong></a></li>
  <li><a href="#what"><strong>What is ... ?</strong></a></li>
  <li><a href="#when"><strong>When is ... ?</strong></a></li>
</ol>
<hr>
<h3><a name="how">How do I ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h3><a name="where">Where can I find ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h3><a name="why">Why doesn't ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h3><a name="who">Who is ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h3><a name="what">What is ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h3><a name="when">When is ... ?</a></h3>
<p>[This is the answer to the question.]</p>
<h5><a href="#top">Back to Top</a></h5>
<hr>
<h5>Author information goes here.<br>
Copyright © 1999&nbsp; [OrganizationName]. All rights reserved.<br>
Revised: <!--webbot bot="TimeStamp" startspan S-FORMAT="%B %d, %Y"
S-TYPE="EDITED" -->&#20061;&#26376; 10, 2001<!--webbot bot="TimeStamp" I-CheckSum="24338"
endspan -->
.</h5>

</body>

</html>

