<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta http-equiv="Content-Language" content="en-us">
<title></title>
</head>

<body>

<p><!--webbot bot="PurpleText"
PREVIEW="Feedback Confirmation - Use a page like this one to acknowledge user input handled by FrontPage Discussion, Form Results, or Registration components. You may insert FrontPage Confirmation Field components anywhere on the page to show users what they have submitted. Each FrontPage Confirmation Field component displays the value of a named field on the input form. This example confirms the submission of customer feedback using a letter format."
-->
</p>
<hr>
<p>Dear <!--webbot bot="ConfirmationField" startspan S-Field="Username" -->[Username]<!--webbot
bot="ConfirmationField" I-CheckSum="27320" endspan -->
,</p>
<p>Thank you for sending us your <!--webbot bot="ConfirmationField" startspan
S-Field="MessageType" -->[MessageType]<!--webbot bot="ConfirmationField"
I-CheckSum="29103" endspan -->
 about our <!--webbot bot="ConfirmationField" startspan S-Field="Subject" -->[Subject]<!--webbot
bot="ConfirmationField" I-CheckSum="27714" endspan -->
. If you have asked us to contact you, we will be using the following
information:</p>
<blockquote>
  <p><strong>E-mail:</strong> <!--webbot bot="ConfirmationField" startspan
  S-Field="UserEmail" -->[UserEmail]<!--webbot bot="ConfirmationField"
  I-CheckSum="25646" endspan -->
  <br>
  <strong>Telephone:</strong> <!--webbot bot="ConfirmationField" startspan
  S-Field="UserTel" -->[UserTel]<!--webbot bot="ConfirmationField"
  I-CheckSum="26422" endspan -->
  <br>
  <strong>FAX:</strong> <!--webbot bot="ConfirmationField" startspan
  S-Field="UserFAX" -->[UserFAX]<!--webbot bot="ConfirmationField"
  I-CheckSum="21110" endspan -->
  </p>
</blockquote>
<p>If any of this information is incorrect, please go back to the feedback form
and change it. We thank you for taking the time to help us be a better company.</p>
<blockquote>
  <blockquote>
    <blockquote>
      <p>Sincerely,</p>
      <p><em>Manager, Customer Services</em></p>
    </blockquote>
  </blockquote>
</blockquote>
<hr>
<h5>You may return to the feedback form by using the <em>Back</em> button in
your browser.</h5>
<h5>Revised: <!--webbot bot="TimeStamp" startspan S-Type="EDITED"
S-Format="%B %d, %Y" -->&#20061;&#26376; 10, 2001<!--webbot bot="TimeStamp"
I-CheckSum="24338" endspan -->
.</h5>

</body>

</html>

